<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8" />
    <title>My Blog</title>
    {% block script %}{% endblock %}
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
  	{% block content %}{% endblock %}
  </body>
</html>